.model-name {
    align-items: stretch;
    flex-direction: row;
    margin-top: 3px;
}

.model-name__label {
    align-self: center;
    width: 70px;
}

.model-name__text-field {
    flex-grow: 1;
}

.debug-box {
    align-items: stretch;
    flex-direction: row;
}

.debug-box__button {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.inspector__foldout {
    margin-top: 2px;
    margin-bottom: 2px;
}
